body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6ed60c5e;
}

header, footer, article {
    background-color: #5a1077;
    padding: 30px;
    margin: 20px;
}

h1, h2 {
    color: #333;
}

h1 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}